body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.title{
  padding: 20px 20px 20px 20px;
  font-variant: small-caps;
  font-size: xx-large;
  color: white;
  background-color: black;
  
}
.navbar{
  font-variant: small-caps;
  font-weight: 900;
}
div.ui.navbar.menu{
  margin-bottom: 0px;
}


.homepage{
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/07/35/city-1868135_1280.jpg");
  background-size: cover;
  height: 750px;
  color: whitesmoke;
  padding: 30px 30px 30px 30px;
  text-align: left;
}

.homepage>h3{
  font-variant: small-caps;
  font-size: x-large;
}

#about{
  width: 550px;
  font-size: larger;
}

.formDiv{
  padding: 20px 20px 20px 20px;
  
}

.userForm{
  display:flex;
  justify-content: left;
  font-variant: small-caps;
  font-size: 50px;
  font-weight: bolder;
  background-image: url("https://cdn.pixabay.com/photo/2020/04/06/10/02/clouds-5009055_960_720.jpg");
  background-size: cover;
  padding: 20px 20px 20px 10px;
  border-radius: 5px;
}

.userForm>form{
  width: 500px;
}

.ui.button.loginButton{
  margin: 10px 10px 10px 10px;
}
.userForm > .ui.form .field>label {
  
  color: white;
  font-size: 1.928571em;
  font-weight: 700;

}

.loginSwitch{
  display: flex;
}

.loginSwitch>h3{
  padding: 15px 5px 15px 0px;
}

.searchbar{
  display: flex;
  padding: 20px 20px 20px 20px;
  background-image: url("https://cdn.pixabay.com/photo/2020/04/06/10/02/clouds-5009055_960_720.jpg");
  
}


input#search{
  width: 350px;
}



.businessesDiv> .ui.button{
  margin: 10px 10px 10px 10px;
  padding-top: 10px;

}

.logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 90px;
  margin: 10px 10px 10px 10px;
}

.individualBusiness{
  padding: 20px 20px 20px 20px;
}

.individualFixedContent{
  display: flex;
  
}

.individualFixedContent>div{
 margin-top: 10px;
 margin-left: 20px;
 text-align: right;
}

.individualFixedContent>div>h2{
  font-variant: small-caps;
  font-weight: 1000;
}

.individualLogo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  margin: 10px 10px 10px 10px;
}